* {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  line-height: 1.5;
  color: #404040;
}

body {
  width: 960px;
  max-width: calc(100vw - 40px);
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
.intro,
.badges {
  text-align: center;
  font-weight: bold;
  color: #222;
}

.badges {
  display: flex;
  flex-wrap: wrap;
}

.badges li {
  margin-right: 1em;
}

.badges a {
  display: inline-flex;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  font-size: 22px;
}

.nav a {
  color: #3e7ac2;
}

.nav .github {
  color: currentColor;
}

.container {
  margin-top: 2em;
  margin-bottom: 50px;
}

.ellipsis-text {
  margin: 12px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #f0f2f7;
  white-space: pre-wrap;
}

.LinesEllipsis--clamped {
  cursor: pointer;
}

.LinesEllipsis-ellipsis {
  color: #259;
}

.LinesEllipsis--clamped:hover .LinesEllipsis-ellipsis {
  color: #3e7ac2;
}

.lines-controller {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.lines-controller input {
  flex-grow: 1;
  margin-left: 1em;
}

.text-editor {
  display: block;
  width: 100%;
  min-height: 300px;
  margin-top: 24px;
  padding: .4em .5em;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  font-size: 14px;
  background: #f8f8f8;
}

.text-editor:focus {
  background: #fff;
}

@media (max-width: 480px) {
  .hide-sm {
    display: none;
  }
}
